{% extends "base.html" %}
{% include "departure_menu.html" %}

{% block head %}
{% block title %}
{% endblock %}
{% endblock %}
{% block body %}
{% block header %}{% endblock %}
<main class="container mt-3">
    {% if departure in departures.keys() %}
    <h1 class="display``-5 mt-4">{{ departures[departure] }}</h1>
    {% endif %}
    <p class="mb-4">Найдено {{ tours_list|selectattr('departure')|list|length }} туров, от
      {{ tours_list|map(attribute='price')|min }} до {{ tours_list|map(attribute='price')|max }} и
      от {{ tours_list|map(attribute='nights')|min }} ночей до {{ tours_list|map(attribute='nights')|max }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
        {% for key, tour in tours_dict.items() %}
        <div class="col-4">
            <div class="card mb-4">
                <img src="{{ tour['picture'] }}/300x200" class="card-img-top img-fluid" alt="">
                <div class="card-body">
                    <h2 class="h5 card-title">{{ tour["title"] }}</h2>
                    <p class="card-text">{{ tour["description"]|truncate(100) }}</p>
                    <a href="{{ url_for('tour', id=key) }}" class="btn btn-sm btn-primary">Подробнее</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}