{% extends "base.html" %}

{% block head %}
    {% block title %}
        {{ title }}
    {% endblock %}
{% endblock %}
{% block body %}
  <main class="container mt-3">
      {% if departure in departures.keys() %}
         <h1 class="display``-5 mt-4">{{ departures[departure] }}</h1>
      {% endif %}
    <p class="mb-4">Найдено 15 туров, от 26 000 до 84 600 и от 4 ночей до 15 ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      <div class="col-4">
        <div class="card mb-4">
          <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">Hotel title</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">Hotel title</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">Hotel title</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">Hotel title</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">Hotel title</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <img src="https://place-hold.it/300x200" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">Hotel title</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}