{% extends "base.html" %}

{% block head %}
    {% block title %}
        {{ title }}
    {% endblock %}
{% endblock %}
{% block body %}
<header class="container mt-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{{ url_for('main') }}">Stepik Travel</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="../departure/msk">Из Москвы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../departure/spb">Из Петербурга</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../departure/nsk">Из Новосибирска</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../departure/ekb">Из Екатеринбурга</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../departure/kazan">Из Казани</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
<div class="container mt-3">
        <h1 class="display-3 mt-4" data-test="title">{{ title }} {{ stars * "★" }}</h1>

        <!-- HERO -->

        <p class="lead" data-test="lead"><span data-test="country">{{ country }}</span> <span data-text="departure">{{ from_city }}</span> <span data-text="nights">{{ nights }}</span> ночей</p>

        <img data-test="picture" src="{{ picture }}" class="w-75" alt="">

        <p class="my-4 w-75" data-test="description">{{ description }}</p>

        <a href="" class="btn btn-success btn-lg" data-test="buybutton">Купить тур за <span data-test="price">{{ price }}</span></a>
</div>
{% endblock %}